fastapi
langchain
langchain_groq
langchain_core
langchain_community
uvicorn
langchain_openai
langchain_google_genai
langgraph



unstructured[all-docs]
tiktoken
chromadb
streamlit_chat

faiss-cpu
streamlit